body {
    font-family: 'Lobster', cursive;
    /* Decorative font */
    background: linear-gradient(to bottom, #fce4ec, #fff);
    /* Soft gradient background */
    color: #555;
    /* Dark text color */
    margin: 0;
}

/* Header Styles */
header {
    background: linear-gradient(to right, #ff4081, #ff8c68);
    /* Gradient header background */
    color: #fff;
    /* White text color */
    padding: 20px;
    text-align: center;
    font-size: 24px;
    border-bottom: 2px solid #fff;
    /* White border at the bottom */
}

/* Wrapper Styles */
.wrapper {
    max-width: 1200px;
    margin: 130px auto;
    padding: 20px;
    background-color: #fff;
    /* White wrapper background color */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Cart Item Styles */
.cart-item {
    border-bottom: 1px solid #eee;
    padding: 15px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
    /* Smooth transition on hover */
}

.cart-item:hover {
    background-color: #f9ebf2;
    /* Light pink background on hover */
}

.cart-item-image {
    max-width: 80px;
    margin-right: 15px;
    border-radius: 5px;
    /* Rounded corners for images */
}

.cart-item-details {
    flex-grow: 1;
}

.cart-total {
    margin-top: 20px;
    text-align: right;
}

button {
    background: #ff4081;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}



input[type="checkbox"] {
    margin-right: 10px;
}

/* Text Styles */
h1,
p {
    color: #ff4081;
    /* Pink text color */
}

.total-price {
    font-weight: bold;
    font-size: 18px;
    color: #333;
    /* Dark text color */
}

/* Responsive Styles */
@media (max-width: 768px) {
    .cart-item {
        flex-direction: column;
        text-align: center;
    }

    .cart-item-image {
        margin-bottom: 10px;
    }
}