#pagination-container_ategory {
    margin-top: 20px;
}

.pagination-link {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 5px;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #333;
    border-radius: 3px;
}

.pagination-link.active {
    background-color: #D63484;
    color: rgb(255, 255, 255);
    border: 1px solid #000000;
}

.div-282:hover {
    background-color: #D63484;
    color: white;
}

.div-282 {
    /* display: flex; */
    cursor: pointer;
    margin-top: 25px;
    border-radius: 4px;
    border: 1px solid #D63484;
    padding: 11px 10px;
    max-width: 134px;
}